﻿
@{
    ViewBag.Title = "Main Page";
}

<h2>Main Page</h2>

@Html.ActionLink("Get the list of Companies", "GetCompanyList", "Company")
<br/>
@Html.ActionLink("Get the list of Employees", "GetEmployeeList", "Employee")


