﻿@using TestQ.Model.AppConstants
@using TestQ.CustomHelper
@model IEnumerable<TestQ.Model.Models.Employee>

@{
    ViewBag.Title = "GetEmployeeList";
}

<h2>The List of Employee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HiringDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.OrgForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @EnumPositionHelper.GetPosition(item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HiringDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.OrgForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Company.Size)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
